body{
  background-color: #fff;
}

.admin {
  //border: 4px solid black;
  height: 100%;


  &__menu {
    width: 250px;
    z-index: 24!important;
    background-color: $adminDark;
    transition: .3s;
    position: fixed;
    top: 0;
    bottom: 0;
    float: left;
    margin-right: -300px;
    display: flex;

    &-wrapper {
      //border: 4px solid saddlebrown;
      display: flex;
      height: 100%;
      background-color: $adminDark;
      position: relative;
    }


    &-menu {
      width: 250px;
    }

    &-button {

      margin-top: 10px;
      margin-left: 10px;
      padding-top: 2px;
      left: 243px;
      top: 0;
      width: 50px;
      height: 45px;
      background-color:$adminBright ;
      border:2px solid #ffffff !important;
      border-radius: 5px;
      z-index: 2;
      display: none;
      position: absolute;


      &:hover {
        cursor: pointer;
      }
    }

    &-stick {
      background-color: $brightGrayColor;
      width: 34px;
      height: 4px;
      margin-bottom: 5px;
    }

    h2 {
      text-align: center;
      color: $whiteColor;
      font-weight: 500;
      font-size: 20px;
      background-color: $adminBright;
      padding: 20px 10px;
    }

    ul {

      li {
        border-bottom: 1px solid black;


        border-top: 1px solid gray;

        a {
          //border: 1px solid red;
          font-size: 18px;
          font-weight: 500;
          width: 100%;
          padding-top: 20px;
          padding-bottom: 20px;
          padding-left: 25px;
          display: block;
          color: $whiteColor;
          transition: .3s;



          &:hover {
            padding-left: 35px;
            background-color: #9e9e9e;
          }
        }
        a.active{
          background-color: #9e9e9e;
        }
      }
    }
  }
}

.admin__heading {
  float: right;
  width: 100%;
}

.admin__notification{
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: wheat;
  bottom: 0;
  left: 0;
  right: 0;
  border: 2px solid seagreen;
  z-index: 2;
  background-color: rgba(0,0,0, .5);
}
