.border{
  width: 1200px!important;
}

@media (max-width: 1220px) {
  .border{
    width: 1100px!important;
  }
}

@media (max-width: 1130px) {
  .border{
    width: 1000px!important;
  }
}

@media (max-width: 1040px) {
  .border{
    width: 900px!important;
  }
}

@media (max-width: 940px) {
  .border{
    width: 850px!important;
  }
}

@media (max-width: 900px) {
  .border{
    width: 800px!important;
  }
}




.arrows-box{
  display: flex;
}

.left-arrow{
  font-size: 1.5em;
  color:$middleGrayColor;
  :hover{
    cursor: pointer;
  }
}

.right-arrow{
  margin-left: 10px;
  color:$middleGrayColor;
  font-size: 1.5em;
  :hover{
    cursor: pointer;
  }
}

.main__item{
  height: 500px;
  margin: 15px;
  z-index: 1;

  &-pic{
    z-index: 1;
    height: 430px;
    background-repeat: no-repeat;
    //background-size: cover !important;
    //background-position: center!important;
    position: relative;


    &-cart{
      width: 30px;
      height: 30px;
      background-color: #fff;
      position: absolute;
      bottom: 13px;
      right: 50px;
      border-radius: 50%;
      transition: .5s;


      display: flex;
      flex-direction: column;
      padding-top: 7px;
      align-items: center;
      overflow: hidden;
      span{
        color: white;
        transition-delay: .5s;
        overflow: hidden;
        margin-top: 70px;
        transition: .5s;
        //display: none;
      }

    }
    &-cart:hover{
      cursor: pointer;
      color: white;
      background-color: $secondaryColor;
      width: 200px;
      display: flex;
      padding-top: 0;
      flex-direction: row;
      border-radius: 20px;
      padding-left: 10px;
      justify-content: flex-start;
      span{
        transition-delay: .3s;
        overflow: hidden;
        margin-top: 0;
      }
    }
    &-desc{
      width: 30px;
      height: 30px;
      background-color: #fff;
      position: absolute;
      bottom: 13px;
      right: 10px;
      border-radius: 50%;

      display: flex;
      justify-content: center;
      align-items: center;
    }
    &-desc:hover{
      color: white;
      cursor: pointer;
      background-color: $secondaryColor;
    }
  }

  &-price{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;

    &-name{
      width: 350px;
    }

    &-price{
      width: 170px;
      text-align: right;
      font-weight: 600;
    }
  }
}

@media (max-width: 400px) {
  .main__item{
    &-pic{
      &-cart:hover{
        width: 160px;
        font-size: 13px;
        span{
          text-align: center;
        }
      }

    }
  }
}


@media (max-width: 375px) {
  .main__item{
    &-pic{
      &-cart:hover{
        width: 140px;
        font-size: 12px;
        span{
          text-align: center;
        }
      }

    }
  }
}

@media (max-width: 365px) {
  .main__item{
    &-pic{
      &-cart:hover{
        width: 140px;
        font-size: 11px;
        span{
          text-align: center;
        }
      }

    }
  }
}





@media (max-width: 1250px) {

}

