.admin__about{
  margin-left:250px;
  display: flex;
  flex-direction: column;


  &-heading{
    padding: 20px 10px;
    text-align: center;
    color: $whiteColor;
    background-color: $adminBright;

    font-weight: 500;
    font-size: 20px;

    //border: 2px solid red;
  }

  &-content{
    //background-color: #b4b3b3;
    border: 1px solid $grayColor;
    margin: 0 5px;
    height: 200px;
    font-size: 20px;
    padding: 10px;
    line-height: 24px;
    //border: 2px solid red;
  }

  &-buttons{
    display: flex;

    //border: 3px solid red;
    padding: 6px;


    .admin__about-img {
      display: none;
    }

    .ladmin__about-img {
      //position: relative;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      font-size: 20px;
      color:$grayColor;
      border: 1px solid #adadad;
      border-radius: 3px;

      &:hover{
        cursor: pointer;
        background-color: $brightGrayColor;
      }
    }





  }



  button{
    margin-top: 10px;
    margin-left: 10px;
    background-color: #32aa29;
    font-size: 18px;
    font-weight: 400;
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 7px;
    transition: .3s;
    
    &:hover{
      background-color: #fff;
      color: #444444;
    }
    
  }
}

