.contact__main-main{
  display: flex;
  justify-content: center;
  background-color: white;
  overflow: hidden;

  .border{
    display: flex;
  }

  &-contacts{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-right: 15px;

    &-links{
      display: flex;
      a{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: $brightGrayColor;
        transition: .4s;
        *{
          color: $primaryColor;
        }
        &:hover{

          background-color: $secondaryColor;
          *{
            color: white !important;
          }
        }

        &:not(:first-child){
          margin-left: 15px;
        }
      }
    }

    *{
      color: $brightBlack;
    }

    h4{
      margin: 80px 0;
      font-size: 25px;
      font-weight: 600;
    }
    span{
      margin-bottom: 35px;
      font-weight: 500;
    }

    form{
      margin-top: 80px;
      display: flex;
      flex-direction: column;

      input{
        margin-bottom: 20px;
        padding: 13px 24px;
        border-radius: 30px;
        font-size: 12px;
        font-weight: 600;
        background-color: $brightGrayColor;
        border: 1px solid $brightGrayColor;
        &:focus{
          border: 1px solid $secondaryColor;
        }
      }

      textarea{
        width: 100%;
        margin-bottom: 20px;
        padding: 13px 24px;
        border-radius: 20px;
        font-size: 12px;
        resize: vertical;
        font-weight: 600;
        background-color: $brightGrayColor;
        border: 1px solid $brightGrayColor;
        &:focus{
          border: 1px solid $secondaryColor;
        }
      }


    }

  }

  &-maps{
    width: 50%;
    margin-left: 15px;
  }

}
