.footer{
  display: flex;
  justify-content: center;
  background-color: $primaryColor;

  &-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding-bottom: 40px;
    ul {
      margin: 40px 0;
      display: flex;
      width: 100%;
      justify-content: space-between;
      *{
        color: white;
      }

      li{
        text-transform: uppercase;
        font-weight: 500;
        font-size: 18px;
      }
    }
    span{
      a{
        text-decoration: underline;
        color: white;
      }
    }
  }
}